.home {
    width: 100%;
    min-height: 75vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 350px;
}

.home p {
    font-size: 4.5rem; /* 48px */
    font-weight: bold;
    margin-bottom: 1.5rem;
    letter-spacing: 8px;
}

.home span {
    color: var(--secondary);
}

.btn {
    width: 450px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 5px;
}

.btn_red {
    background-color: var(--secondary);
    color: var(--white);
}

.btn_red:hover {
    transition: .2s;
    background-color: var(--primary);
}